<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <script src="../js/home.js" defer type="module"></script>
    <title>D&D Caracter-Maker</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>
<body>
    <div class="container-1">

    </div>
    <div class="button1">
        <a href="../index.html">
        <button> <strong><=</strong> BACK</button>
    </a>
    </div>
</div>
<div class="button2">
    <a href="play.html">
    <button>NEXT <strong>=></strong> </button>
</a>
</div>

<div class="info">
<p>This page will allow you to create your Dungeons and Dragons character by choosing their name, race, class, gender, stats, special abilities, armor, and weapons as desired. <br> YOU DECIDE.</p>
</div>
</body>
</html>