<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <script src="../js/home.js" defer type="module"></script>
    <title>D&D Caracter-Maker</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>
<body>
    <div class="container-1">

    </div>
    <div class="button1">
        <a href="../index.html">
            <button> <strong><=</strong> BACK</button>
        </a>
    </div>
    <div class="button2">
        <a href="play.html">
            <button>NEXT <strong>=></strong> </button>
        </a>
    </div>
    <section class="general_info">
    <div class="info">
        <p>"¡Bienvenido, futuro héroe! Este es el primer paso para crear una leyenda. Imagina a tu personaje, su historia, sus habilidades... El mundo está esperando tu creación. ¡Vamos a darle vida!"</p>
    </div>
    <div class="info1">
        <p>"¡Las posibilidades son infinitas! ¿Tu personaje será un guerrero valiente, un sabio mago o un astuto ladrón? ¡La aventura comienza aquí y ahora! Escoge las características que definan tu camino." </p>
    </div>
    <div class="info2">
        <p>"¡Casi lo logras! Solo falta una cosa: su nombre. Un nombre que quedará grabado en las historias. ¿Qué nombre llevará el héroe que desafiará el destino? ¡Elige sabiamente!"</p>
    </div>
</section>
</body>
</html>