<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/play.css">
    <script src="../js/play.js" defer type="module"></script>
    <title>Document</title>
</head>
<body>
    <h1>Crear Personaje</h1>

    <label for="clase">Clase:</label>
    <select id="clase"></select>

    <label for="raza">Raza:</label>
    <select id="raza"></select>

    <label for="background">Trasfondo:</label>
    <select id="background"></select>

    <script src="main.js"></script>
</body>
</html>