<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/play.css">
    <script src="../js/play.js" defer type="module"></script>
    <title>Document</title>
</head>
<body>
    <button id="btnCrearPersonaje">Crear Personaje</button>
    
    <div id="caracteristicasPersonaje" style="display: none;">

        <label for="clase">Clase:</label>
        <select id="clase"></select>
        
        <label for="raza">Raza:</label>
        <select id="raza"></select>
        
        <label for="background">Background:</label>
        <select id="background"></select>
        
        <label for="alineamiento">Alineamiento:</label>
        <select id="alineamiento"></select>
        
        <label for="habilidades">Habilidades:</label>
        <select id="habilidades"></select>
        
        <label for="proficiencias">Proficiencias:</label>
        <select id="proficiencias"></select>
        
        <label for="lenguajes">Lenguajes:</label>
        <select id="lenguajes"></select>
        
        <label for="features">Características:</label>
        <select id="features"></select>
        
        <label for="subclases">Subclases:</label>
        <select id="subclases"></select>
        
        <label for="subrazas">Subrazas:</label>
        <select id="subrazas"></select>
    </div>
</body>
</html>