@import url(variable.css);

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

.info {
    background-image: url('../assets/img/pergamino-home.jpg');
    /* background-size: cover; */
    /* background-position: center; */
    width: 20%;
    border-radius: 20px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
}

.info p {
    color: #3b2f1d; /* estilo tinta antigua */
    font-family: 'pirate';
    font-size: 18px;
    font-weight: bold;
}


.container-1{
    align-self: top;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}


.button1{
    /* background-color: #e60000; */
    position: fixed;
    top: 3%;
    right: 15%;
    /* background-color: #333;*/
    /*color: white; */
    padding: 10px;
    z-index: 100;
    cursor: pointer;
}

.button1 button{ 
    width: 175px;
    height: 60px;
    background: url('marco-con-picos.png') no-repeat center center;
    background-size: cover;
    font-family: 'Cinzel', serif;
    color: goldenrod;
    font-size: 1rem;
    display: flex;
    font-family: 'D&D', serif;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    justify-self: center;
    background-color: #570202c7;
    text-shadow:
    -1px -1px 0 black,
    1.5px -1px 0 black,
    -1px  1px 0 black,
    1.5px  1px 0 black;
    border-radius: 15px;
}

.button1 a{
    text-decoration: none;
}

.button2{
    /* background-color: #e60000; */
    position: fixed;
    top: 3%;
    right: 1%;
    /* background-color: #333;
    color: white; */
    padding: 10px;
    z-index: 1000;
    cursor: pointer;
}

.button2 button{ 
    width: 175px;
    height: 60px;
    background: url('marco-con-picos.png') no-repeat center center;
    background-size: cover;
    font-family: 'Cinzel', serif;
    color: goldenrod;
    font-size: 1rem;
    display: flex;
    font-family: 'D&D', serif;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    justify-self: center;
    background-color: #570202c7;
    text-shadow:
    -1px -1px 0 black,
    1.5px -1px 0 black,
    -1px  1px 0 black,
    1.5px  1px 0 black;
    border-radius: 15px;
}

.button2 a{
    text-decoration: none;
}

/* Para dispositivos con orientacion orizontal */
@media (orientation: landscape) {
    body {
    background-image: url('https://image.api.playstation.com/vulcan/ap/rnd/202304/1412/6f8f23277726a505d6c3738c89a2968d3d177fd3737d4377.png');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    min-height: 100vh;
    }
}

  /* Para dispositivos con orientación vertical */
@media (orientation: portrait) {
    body {
    background-image: url('https://preview.redd.it/blasphemous-iphone-wallpapers-v0-uos02c3zxvgc1.jpg?width=640&crop=smart&auto=webp&s=2c401f9c67c5a0b39aaa470756ac0fd60878e76e');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    }

    .button1 button{
        width: 200px;
        height: 60px;
        background: url('marco-con-picos.png') no-repeat center center;
        background-size: cover;
        font-family: 'Cinzel', serif;
        color: rgb(167, 127, 25);
        font-size: 1.4rem;
        display: flex;
        font-family: 'D&D', serif;
        align-items: center;
        justify-content: center;
        text-shadow: 1px 1px 2px black;
        text-transform: uppercase;
        align-self: center;
        justify-self: center;
        background-color: rgba(57, 2, 2, 0.692);
        text-shadow:
        -1px -1px 0 black,
        1.5px -1px 0 black,
        -1px  1px 0 black,
        1.5px  1px 0 black;
    }

    .button1{
        /* background-color: #e60000; */
        width: 23.5%;
        justify-self: center;
        margin-top: 30%;
    }
    

    .container-1{
    align-self: top;
    align-items: center;
    justify-items: center;
    text-align: center;
}
}
.info1{
    background-image: url('../assets/img/pergamino-home.jpg');
    /* background-size: cover; */
    /* background-position: center; */
    width: 20%;
    border-radius: 20px;
    height: 15%;
    display: flex;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
    margin-left: 30%;
}
.info1 p {
    color: #3b2f1d; /* estilo tinta antigua */
    font-family: 'pirate';
    font-size: 18px;
    font-weight: bold;
}
